# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
out/

# Prisma
/sarvam-finance-api/prisma/migrations/
!/sarvam-finance-api/prisma/migrations/*.sql

# IDEs
.vscode/
.idea/
.DS_Store

# Misc
.cache/
temp/
